<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>

        <!-- css -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Cuprum|Monda:400,700' rel='stylesheet' type='text/css'>

    </head>
  <body>
      <div class="container-fluid">
  <!-- navbar -->
      <nav class="navbar navbar-light bg-faded" style="background-color: #333333;">
        <img class="logo" src="/img/paper.png" />
      </nav>
  </div> <!--container-fluid-->

  <div class="container">
    <div class="row">
      <form class="form-inline pull-right col-md-4 col-sm-12">
        <input class="form-control" type="text" placeholder="Search Contacts">
      </form>

    <!--contcats list-->
      <div class="col-md-6 col-sm-12">
        <h1 class="header">Contacts</h1>
        <hr class="red">
        <% if (users.length) { %>

            <% for (var i in users) { %>
            <h4 class="contacts"><a class="contact" href="/users/preview/<%= users[i].username %>"><%= users[i].name%> <%=users[i].username %></a><br><small><%= users[i].title%></small></h4>
            <hr>
            <% } %>

        <% } else { %>
        <p>Sorry, there are no contacts yet.</p>
        <% } %>
      </div>
      <div class="col-md-12 col-sm-10 center-block">
        <a class="btn btn-success new-contact" href="/user/new">New Contact</a>
      </div>

    </div><!--row-->
  </div><!--container-->

  <footer class="footer navbar navbar-light bg-faded" >
     <div class="container">
       <p class="text-muted"><small>Created by Ashlen Renner for a Journalism course at UNC Chapel Hill</small></p>
     </div>
   </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
           <!-- Include all compiled plugins (below), or include individual files as needed -->
           <script src="/js/bootstrap.min.js"></script>
           <script src="/js/main.js"></script>

    </body>
</html>
